<% include ../partials/header %>
<div class="ui container">
    <h2 class="ui center aligned header">
        <div class="content">
            Create new list
        </div>
    </h2>
    <form class="ui form" action="/index" method="POST">
        <div class="field">
            <label>Name of the list</label>
            <input type="text" name="list[name]" placeholder="Name">
        </div>
        <div class="field">
            <label>Description</label>
            <input type="text" name="list[description]" placeholder="Description">
        </div>
        <div class="field">
            <label>Language</label>
            <select class="ui fluid dropdown" name="list[language]">
                <option value="">Language</option>
                <option value="EN">English</option>
                <option value="ES">Spanish</option>
                <option value="NL">Dutch</option>
                <option value="DE">German</option>
                <option value="PL">Polish</option>
                <option value="FR">French</option>
                <option value="IT">Italian</option>
                <option value="Other">Other</option>
            </select>
        </div>
    <button class="ui button" type="submit">Submit</button>
    </form>
</div>
<% include ../partials/footer %>