<% include ../partials/header %>
<div class="ui container">
    <h2 class="ui center aligned header">
        <div class="content">
            <%= list.name %>
        </div>
    </h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Word</th>
                <th>Translation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form class="ui form" action="/index/<%= list._id %>" method="POST">
                <td data-label="Word"><div class="ui input"><input type="text" name="word[original]" placeholder="Word"></div></td>
                <td data-label="Translation">
                    <div class="ui input">
                        <input type="text" name="word[translation]" placeholder="Translation">
                    </div>
                    <button class="ui button" type="submit" style="float: right">Submit</button>
                </td>
                </form>
            </tr>
            <% list.words.forEach(word => { %>
            <tr>
                <td data-label="Word"><%= word.original %></td>
                <td data-label="Translation"><%= word.translation %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<% include ../partials/footer %>