</div>
</div>
</div>
<script>
                          $(document).ready(function () {
                            $('.right.menu.open').on("click", function (e) {
                                e.preventDefault();
                                $('.ui.vertical.menu').toggle();
                            });
                        });
</script>
<footer>
Dariusz Dyrda 2019
</footer>
</body>
</html>