<% include partials/header %>
<div class="ui container">
    <h2 class="ui center aligned header">
        <div class="content">
            Your lists
        </div>
    </h2>
    <div class="ui centered stackable link cards">
        <div class="card">
            <div class="content">
                <div class="header">Elliot Fu</div>
                <div class="description">
                    Elliot Fu is a film-maker from New York.
                </div>
            </div>
            <div class="ui bottom attached green button">
                <i class="add icon"></i>
                Add new word
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>