.hidden {
    display: none;
}
.showed {
    display: block;
}
.wordRow form {
    float: right;
}
.header.item a {
    color: black;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }