html, body{ height:100%; margin:0; }
footer{ height:50px;}

body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
  border-top: 1px solid rgba(34,36,38,.15);
  text-align: center;
  font-weight: 700;
  padding-top: 10px;
}
 
.wordRow form {
    float: right;
}
.header.item a {
    color: black;
}

.ui.table:last-child {
    margin-bottom: 20px;
}

.showPageButtons {
    float: right;
    margin-bottom: 20px;
}
.showPageButtons > * {
    display: inline;
}

.ui.page.grid {
    padding-left: 0px;
    padding-right: 0px;
}

.ui.navbar {
    margin-top: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

.ui.message{
	padding: 40px !important;
}

@media (max-width: 767px) {
  	.ui.inverted.navbar{
	}
}

.ui.vertical.menu{
	margin-top: -15px !important;
	width: 100%;
	display: none;
}
div.computer.tablet.only.sixteen.wide.column,
div.mobile.only.sixteen.wide.column {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}